$color-black:#000000;
$color-white:#ffffff;
$color-orange:#ff6300;
$color-pink:#ff22ba;
$color-orange-active:#feae00;
$color-orange-text:#ffbd00;
$color-default-bottom:#a5aeb8;
$color-default-top:#b2bac2;
$color-gray:#3d4352;
$color-green:#00a02c;
$color-pink-number:#ff76ff;
$color-red:#ff1800;
$color-dark-gray-top:#2c3b52;
$color-dark-gray-bottom:#273448;
$color-gray-text:#686d8b;
$color-white-active:#f6f6f7;
